<section style="background-color: #72246c; -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); height: 75px;">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Menu Area Start -->
            <div class="col-9">
                <div class="menu_area">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#"><img src="https://storage.googleapis.com/assets-app/rwc_3_circles.png" style="width: 180px;position: sticky;z-index: 99;" alt="Logo de Rewards Codes"></a>
                    </nav>
                </div>
            </div>
            <!-- Signup btn -->
            <div class="col-2">
                <div class="sing-up-button d-none d-lg-block">
                    <a href="https://partner.rewards.codes" style="color: #fff; height: 40px; min-width: 152px; line-height: 36px; font-size: 14px; margin-top: -10px; display: inline-block; border: 2px solid #dcc8da; text-align: center; border-radius: 24px 24px 24px 0px; margin-bottom: 26px;"><span>Login</span></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="oe_container class row align-items-center" style="background-image:url(https://rewards.codes/img/bg-img/welcome-bg.png);background-repeat:no-repeat;background-size:100%;background-position-y: -40px;">
    <div class="col-7" style="align-self: center;" style="padding-left: 50px;">
        <div class="wellcome-heading" style="font-family: 'Cabin', sans-serif; padding: 210px 0px 80px 40px; width: fit-content;">
            <h2 style="font-size: 55px; color: #72246c; font-weight: 500;">Rewards.Codes</h2>
            <h3 style="font-size: 250px; position: absolute; top: 80px; font-weight: 900; left: 32px; z-index: 0; color: #72246bd7; opacity: .1;">RwC</h3>
            <p style="color: #72246C;">
                <span>Reward them. Will return for sure.</span>
            </p>
        </div>
    </div>
    <div class="col-4" data-wow-delay="0.5s" style="margin-top: 40px">
        <img style="width: 300px;" src="https://storage.googleapis.com/assets-app/all_2.png" alt="">
    </div>
    <div class="col-12">
        <h4 style="color: rgb(114, 36, 108); text-align: center; display: block; padding: 0 140px 50px;">Attract and retain more customers with our groundbreaking digital rewards system. Join Rewards Codes today and grow your business without paper prints.</h4>
    </div>
    <div class="col-12">
        <h2 style="font-weight: 300; color: #72246c; font-size: 48px; margin: 0; text-align: center; margin-bottom: 30px;">Why Is It Special?</h2>
    </div>
    <div class="row" style="padding: 0 20px 20px;">
        <!-- Single Special Area -->
        <div class="col-12 col-md-4">
            <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s" style="margin-bottom: 0px; visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp; border: 1px solid #eff2f6; padding: 40px; border-radius: 40px 40px 40px 0px;">
                <div class="single-icon">
                    <i class="ti-settings" aria-hidden="true"></i>
                </div>
                <h4>
                    <span style="display: inline; font-size: 22px; color: #72246c;">Easy to understand</span>
                </h4>
                <p>
                    <span>Reward your clients by registering the visit only with their phone number and give  their loyalty</span>
                </p>
            </div>
        </div>
        <!-- Single Special Area -->
        <div class="col-12 col-md-4">
            <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s" style="margin-bottom: 0px; visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp; border: 1px solid #eff2f6; padding: 40px; border-radius: 40px 40px 40px 0px;">
                <div class="single-icon">
                    <i class="ti-ruler-pencil" aria-hidden="true"></i>
                </div>
                <h4>
                    <span style="display: inline; font-size: 22px; color: #72246c;">Easy to start</span>
                </h4>
                <p>
                    <span>Register your phone number to reward with RwC immediately, without downloads or forms</span>
                </p>
            </div>
        </div>
        <!-- Single Special Area -->
        <div class="col-12 col-md-4">
            <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s" style="margin-bottom: 0px; visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp; border: 1px solid #eff2f6; padding: 40px; border-radius: 40px 40px 40px 0px;">
                <div class="single-icon">
                    <i class="ti-mobile" aria-hidden="true"></i>
                </div>
                <h4>
                    <span style="display: inline; font-size: 22px; color: #72246c;">Learn from RwC</span>
                </h4>
                <p>
                    <span>Keep track of your customer behavior with the Rewards Codes tools. AI, blockchain and notifications.</span>
                </p>
            </div>
        </div>
    </div>
</section>


<section class="our-monthly-membership section_padding_50 clearfix" style="padding-top: 50px; padding-bottom: 50px; color: white; background: #72246c; background: -webkit-linear-gradient(to left, #fb397d, #72246c); background: -webkit-linear-gradient(right, #fb397d, #72246c); background: -webkit-gradient(linear, right top, left top, from(#fb397d), to(#72246c)); background: -o-linear-gradient(right, #fb397d, #72246c); background: linear-gradient(to left, #fb397d, #72246c);">
    <div class="container" style="max-width: 720px; width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="membership-description">
                    <h2 style="color: #ffffff; font-size: 36px;">Join now in just 3 steps!</h2>
                    <p>1. Register your company with your phone number<br>2. Set up your promotions<br>3. Register your customer visits</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInDown;">
                    <a href="https://partner.rewards.codes/register?plan=free&amp;currency=usd" style="background: #ffffff; height: 45px; min-width: 155px; display: inline-block; text-align: center; line-height: 45px; color: #fb397d; font-weight: 500; border-radius: 23px 23px 23px 0;"><span>Try it here for free!</span></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text  -->
                <div class="section-heading text-center">
                    <h2 style="font-weight: 300; color: #72246c; font-size: 48px; margin: 0; padding: 40px 0px;">Pricing Plan</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Package Price  -->
                <div class="single-price-plan active text-center" style="background: #ffffff;border: 1px solid #ebebeb;border-radius: 30px 30px 30px 0;margin-bottom: 30px;">
                    <!-- Package Text  -->
                    <div class="package-plan" style="padding: 40px 0;border-radius: 30px 30px 0 0;">
                        <i class="ti-crown" aria-hidden="true"></i>
                        <h5 style="color: #72246c;font-size: 18px;">Basic</h5>
                        <div class="ca-price d-flex justify-content-center">
                            <span style="font-size: 18px;color: #fb397d;">$</span>
                            <h4 style="font-size: 48px;color: #fb397d; font-family: 'Cabin', sans-serif;">9/mo.</h4>
                        </div>
                    </div>
                    <div class="package-description">
                        <p style="border-top: 1px solid #ebebeb; color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>Register up to 500 visits monthly</span></p>
                        <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>Access to the RwC API</span></p>
                        <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>RwC webapp</span></p>
                        <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>Basic social media integration</span></p>
                        <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>Basic support</span></p>
                    </div>
                    <!-- Plan Button  -->
                    <div class="plan-button">
                        <a href="https://partner.rewards.codes/register?plan=basic&amp;currency=usd" style="display: block;background-color: #72246c;color: white;background: #726a84;padding: 10px 0;border-bottom-right-radius: 30px;font-size: 16px;font-weight: 500;"><span>Select Plan</span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Package Price  -->
                <div class="single-price-plan active text-center" style="background: #ffffff;border: 1px solid #ebebeb;border-radius: 30px 30px 30px 0;margin-bottom: 30px;">
                    <!-- Package Text  -->
                    <div class="package-plan" style="padding: 40px 0 17px;border-radius: 30px 30px 0 0;">
                        <h5 style="color: #72246c;font-size: 18px;">Advanced</h5>
                        <div class="ca-price d-flex justify-content-center">
                            <span style="font-size: 18px;color: #fb397d;">$</span>
                            <h4 style="font-size: 48px;color: #fb397d; font-family: 'Cabin', sans-serif;">29/mo.</h4>                     
                        </div>
                        <h5>Most choosen!</h5>
                    </div>
                    <div class="package-description">
                        <p style="border-top: 1px solid #ebebeb; color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>Register up to 1500 visits monthly</span></p>
                        <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>Access to the RwC API</span></p>
                        <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>Point of sale and RwC webapp</span></p>
                        <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>Medium integration to social media</span></p>
                        <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>Point of sale support</span></p>
                    </div>
                    <!-- Plan Button  -->
                    <div class="plan-button">
                        <a href="https://partner.rewards.codes/register?plan=advanced&amp;currency=usd" style="display: block;background-color: #72246c;color: white;padding: 10px 0;border-bottom-right-radius: 30px;font-size: 16px;font-weight: 500;"><span>Select Plan</span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Package Price  -->
                <div class="single-price-plan active text-center" style="background: #ffffff;border: 1px solid #ebebeb;border-radius: 30px 30px 30px 0;margin-bottom: 30px;">
                    <!-- Package Text  -->
                    <div class="package-plan" style="padding: 40px 0;border-radius: 30px 30px 0 0;">
                        <h5 style="color: #72246c;font-size: 18px;">Premium</h5>
                        <div class="ca-price d-flex justify-content-center">
                            <span style="font-size: 18px;color: #fb397d;">$</span>
                            <h4 style="font-size: 48px;color: #fb397d; font-family: 'Cabin', sans-serif;">50/mo.</h4>
                        </div>
                    </div>
                    <div class="package-description">
                        <p style="border-top: 1px solid #ebebeb; color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>Register unlimited visits</span></p>
                        <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>Access to the RwC API</span></p>
                        <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>E-commerce and RwC webapp</span></p>
                        <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>Complete social media integration</span></p>
                        <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;margin-bottom: 0;line-height: 1;padding: 15px 0;border-bottom: 1px solid #ebebeb;"><span>E-commerce support</span></p>
                    </div>
                    <!-- Plan Button  -->
                    <div class="plan-button">
                        <a href="https://partner.rewards.codes/register?plan=premium&amp;currency=usd" style="display: block;background-color: #72246c;color: white;background: #726a84;padding: 10px 0;border-bottom-right-radius: 30px;font-size: 16px;font-weight: 500;"><span>Select Plan</span></a>
                    </div>
                </div>
            </div>
        <!-- Banner free month -->
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text -->
                    <div class="section-heading text-center">
                        <p style="display: block;">* For a limited time, all our plans have the 1st month free.</p><p style="display: none;">* Por tiempo limitado, todos nuestros planes tienen el 1er mes gratis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="footer-contact-area footer_padding clearfix" id="contact" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -20px; padding: 50px; margin-bottom: 0px; background: #f5f9fc;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2 style="font-weight: 300; color: #72246c; font-size: 48px; margin: 0;">Contact us!</h2>
                    <div class="line-shape"></div>
                </div>
                <div class="footer-text">
                    <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;"><span>We'll be happy to help you. Send <span style="font-weight:bold">jorge@rewards.codes</span> a email for more info.</span></p>
                    <p style="color: #726a84;font-size: 16px;font-weight: 300;margin-top: 0;"><span><a href="https://wa.me/524922276723?text='Hi, how can I help you?'">Or click here </a>to consult to send us a message.</span></p>
                </div>
                <!--Social media-->
                <div class="social-button">
                    <a href="https://www.facebook.com/rewardscodes" target="_blank">
                        <img style="width: 40px;" src="https://storage.googleapis.com/assets-app/face.png" alt="Go to https://www.facebook.com/rewardscodes">
                    </a> 
                    <a href="https://www.instagram.com/rewards.codes/" target="_blank">
                        <img style="width: 40px;" src="https://storage.googleapis.com/assets-app/ig.png" alt="Go to https://www.instagram.com/rewards.codes/">
                    </a> 
                    <a href="https://www.youtube.com/@rewardscodes" target="_blank">
                        <img style="width: 40px;" src="https://storage.googleapis.com/assets-app/youtube.png" alt="Go to https://www.youtube.com/@rewardscodes">
                    </a> 
                </div> 
            </div>
        </div>
    </div>
</section>